{% load static %}    
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main:index' %}"><img src="{% static 'deps/images/logo_bezdna.png' %}" width="250" 
                    height="100" border="0"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle text-white" href="" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Информация
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item  text-white" href="{% url 'main:payment-delivery' %}">Доставка и оплата</a></li>
                                <li><a class="dropdown-item  text-white" href="{% url 'main:contacts' %}">Контактная информация</a></li>
                                <li><a class="dropdown-item  text-white" href="{% url 'main:work-group' %}">Над журналом работают</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" href="{% url 'user:users-cart' %}">Корзина</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="navbar-brand" href="https://vk.com/speleonews"><img src="{% static 'deps/icons/vk.png' %}" width="50" 
                height="50" border="0"></a>
            <a class="navbar-brand" href="https://t.me/bezdnaASU"><img src="{% static 'deps/icons/telegram.png' %}" width="50" 
                height="50" border="0"></a>
            <a class="navbar-brand" href="https://vk.com/speleoural">
                <img src="{% static 'deps/images/ASU.png' %}" style="width:190px;height:100px;">
            </a>
        </nav>
    </header>
   