{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="mt-2 custom-shadow rounded bg-dark frame">

                <p class="page-text">
                    <span class="colortext" style="font-size: 25px; text-decoration: underline;">Покупателям</span><br>
                    <br>Журналы можно приобрести оффлайн у наших друзей:
                </p>
                <ul class="page-text">
                    <li>
                        <a class="dropdown-item  text-white" href="https://club.exje.ru" style="display:inline">
                            <span class="colortext">«Посольство Уральских гор»</span> 
                        </a>
                        <p style="display:inline">, г. Уфа, ул. Мустая Карима, 44</p>
                    </li>
                    <li>
                        Визит-центр «Национального парка Башкирия», село Нугуш, ул. Абубакирова, 1
                    </li>
                    <li>
                        <a class="dropdown-item  text-white" href="https://vk.com/sgs.ekat" style="display:inline">
                            <span class="colortext">Екатеринбургский клуб спелеологов</span>
                        </a>
                        <p style="display:inline">, г. Екатеринбург, ул. Вишневая, 46, офис 414</p>
                    </li>
                    <li>
                        <a class="dropdown-item  text-white" href="https://tur-eda.ru" style="display:inline">
                            <span class="colortext">Магазин «Территория странствий»</span>
                        </a>
                        <p style="display:inline">, г. Москва, ул. Сайкина, 17</p>
                    </li>
                    <li>
                        <a class="dropdown-item  text-white" href="https://www.krascp.ru/" style="display:inline">
                            <span class="colortext">«Центр путешественников»</span>
                        </a>
                        <p style="display:inline">, г. Красноярск, ул. Карла Маркса, 49</p>
                    </li>
                </ul>
                <p class="page-text">
                    <span class="colortext" style="font-size: 25px; text-decoration: underline;">
                        Авторам и фотографам
                    </span>
                </p>
                <p class="page-text" style="display:inline">
                    Направить ваши вопросы и материалы можно на электронную почту <span class="colortext">speleonews@yandex.ru</span> 
                    или сообщением в группу журнала во ВКонтакте:
                    <a class="dropdown-item  text-white" href="https://vk.com/speleonews" style="display:inline">
                        <span class="colortext">vk.com/speleonews</span>
                    </a>
                </p>
                <p class="page-text">
                    <br>Требования к высылаемым материалам:
                </p>
                <ul class="page-text">
                    <li>Тексты принимаются в формате DOC;</li>
                    <li>Графики и схемы принимаются отдельными файлами в формате JPG высокого качества;</li>
                    <li>Топосъемки пещер - в формате PDF, CDR с полными выходными данными;</li>
                    <li>Фотографии - в формате JPG качеством не ниже 300 dpi с обязательным указанием авторства и описанием того, что изображено.</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
