{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="mt-5 custom-shadow rounded bg-dark frame">
                <p class="page-text"> 
                    Журнал "Бездна" - проект Ассоциации Спелеологов Урала (АСУ). Издается с 2006 года.
                    Журнал посвящен исследованиям подземных глубин и людям, исследующим пещеры.
                </p>
                <p class="page-text">
                    Здесь вы найдете последние новости спелеомира России об открытиях и находках в пещерах,
                    истории исследований и интересную статистику, анонсы соревнований и дистанции с них,
                    а так же материалы о новейших технических решениях или экспериментах в пещерах.
                </p>
                <p class="page-text">
                    Наша цель - рассказывать о спелеологии на Урале и в стране.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
