{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="mt-5 pt-5 bg-black custom-shadow rounded">
                <h1 class="mt-5 pt-1" style="color:White;">{{ content }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
<footer class="py-4" bgcolor="black">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CurlyS & Balloon 2024</p>
    </div>
</footer>
{% endblock %}
