{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на Ваше усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="mt-2 custom-shadow rounded frame" style="background-color: white">
                <p class="text">
                    <span class="bold" style="font-size: 20px;">
                        Оплата<br>
                    </span>
                </p>
                <p class="text" style="text-indent:20px display:inline">
                    После оформления заказа вам на почту придет счет на оплату.
                </p>
                <p class="text">
                    <span class="bold" style="font-size: 20px;">
                        Доставка
                    </span>
                </p>
                <p class="text" style="text-indent:25px display:inline">
                    1. Самовывоз<br>
                    - «Посольство Уральских гор», г. Уфа, ул. Мустая Карима, 44<br>
                    - «Территория странствий», г. Москва, ул. Сайкина, 17<br>
                    - «Центр путешественников», г. Красноярск, ул. Карла Маркса, 49<br>
                    - Клуб СГС, Екатеринбург, ул. Вишневая, 46<br>
                    - Магазин SportX, Екатеринбург, ул. Советская, 16<br>
                    - Пермский спелеоклуб, Пермь, ул. Уральская, 114<br>
                    - «Земля приключений», Оренбург, ул. Максима Горького, 22<br>
                    - Магазин «Вертикаль», Симферополь, бульвар Ленина, 14/2<br>
                    - Магазин «Геккон», Ялта, ул. Московская, 8а<br><br>
                    При выборе опции "самовывоз" - журнал отправляется в выбранный пункт бесплатно.
                    Когда журнал можно будет забрать - вам на почту придет письмо.
                    
                </p>
                <p class="text">
                    2. Яндекс доставка<br>
                    Стоимость доставки одного журнала - 100 руб, двух - 200 руб.
                </p>
                <p class="text">
                    3. Почта России<br>
                    Стоимость доставки одного журнала - 250 руб, двух - 300 руб.
                </p>
                <p class="text">
                    4. При заказе pdf версии, журнал будет отправлен на почту после оплаты.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
